@charset "UTF-8";

/*Conf geral*/
*{
    margin: 0px;
    padding: 0px;
}


/*Header*/
.nav-link{
    color: rgb(252, 250, 250);
    font-size: larger;
    margin-right: 20px;
}

/*Section*/
.imgcarousel{
    height: 99vh;
   
}

.h1carousel {
    font-size: 2.3em;
}

.pcarousel{
   
    font-size: 1.5em;
}


#btn{
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: larger;
    font-weight: bolder;
    transition: background-color 1s;
    
}

#btn:hover{
    background-color:transparent;
    transition: background-color 1s;
   
}

.carousel-indicators .active{
    background-color: #65daf9;
    height: 5px;
}

.container-fluid{
    padding: 0px;
}
/*Sobre a empresa*/
.display-5{
    text-align: center;
    font-weight:400px;
    margin-bottom: 20px;
}
.botaolinha{
    border-radius:50px ;
    border: none;
    text-align: center; 
    width: 200px;
    height: 3px;
    background-color: #65daf9;
    margin: auto;
    display: block; 
}
.row{
    margin: 30px;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}

li{
    padding-bottom: 8px;
    font-weight: 600;
}
.fas{
    color:#65daf9;
    margin-right: 10px; 
}


/*Nossas especialidades*/

#iconesespecialidade{
    text-align: center;
}

.aespecialidade{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.705);
   transition: color 0.3s;
   
}
.aespecialidade:hover{
    color: #65daf9;
}



/*Nosso time*/
.container{
    text-align: center;
}

.imagem{
    height: auto;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding: 50px;
    font-size:1.2em;
}
